    /*style e animation css*/
	#block {
      width: 295px;
	  height: 575px;
	  padding: 30px;
	  margin-top: 6vh;
	  background-color: #F0F8FF;
	  border-radius: 40px;
	  font-family: 'Nunito', sans-serif;
	  opacity: 95%;
	}

	#fontTitulo {
		text-align: center;
		padding-bottom: 25px;
		font-size: 25px;
		font-family: 'Nunito';
	}

	#msg {
	  resize: none;
	  margin-top: 10px;
	  position: relative;
	  left: 100px;
	  bottom: 34px;
	}

	#button {
	  position: relative;
	  bottom: 20px;
	  margin-top: 10px;
	  width: 80px;
	  height: 22px;
	}

	#button:hover {
	  color: #fff;
	  background: #535353;
	}

	#button:active {
		color: #535353;
	}

	.flex-box {
     display: flex;
	 align-items: center;
	 justify-content: center;
	}

	.inputsbord {
	    outline: 0;
		border-style: inherit;
		border-radius: 9px;
		box-shadow: 0 0 6px;
		background-color: #F8F8FF;
		height: 20px;
	}

	body {
		box-sizing: border-box;
		background-color: #1C1C1C;
	}

    /*-----Animation-----*/
	@keyframes up {
    from {
      opacity: 0;
      transform: translateY(16px);
    }
    to {
     opacity: 1;
     transform: translateY(0);
    }
	}

	.animate-up {
	    animation-name: up;
	    animation-duration: 500ms;
	    animation-fill-mode: backwards;
	}